@model ProductDto

<div class="card p-2 mt-4" style="width: 18rem;">
    @if (!String.IsNullOrEmpty(Model.ImgUrl))
    {
        <img src="@Model.ImgUrl" class="card-img-top" alt="...">
    }
    else{
        <img src="~/images/no-avaible.png" class="card-img-top" alt="...">
    }
    <div class="card-body">
        <h5 class="card-title">@Model.Name</h5>
        <p class="card-text">@Model.Price.ToString("c")</p>
    </div>
</div>
<a asp-action="Index" asp-asp-controller="Product" class="btn btn-primary mt-2"><i
        class="fa-solid fa-arrow-left"></i>Back</a>