@model IEnumerable<Product>

@foreach (Product item in Model)
{
    <div style="margin-bottom: 2rem;">
        <h3>@item.Name</h3>
        <input type="text" value="@item.Price" disabled>
        <a href="/Product/detail/@item.Id">Detail</a>
        <hr>
    </div>
}