@model ProductUpdateViewModel

<div class="row">
    <div class="col-4"></div>
    <div class="col-4">

        <img src="@(Model.ImgUrl)" class="img-fluid">

        <form asp-action="Update" asp-controller="Product" asp-area="admin" method="post" enctype="multipart/form-data">
            <div>
                <input type="hidden" asp-for="Id">
                <input type="hidden" asp-for="ImgUrl">
            </div>
            <div class="mb-3">
                <label asp-for="Name" class="form-label"></label>
                <input asp-for="Name" class="form-control" />
            </div>
            <div class="mb-3">
                <label asp-for="Price" class="form-label"></label>
                <input asp-for="Price" class="form-control" />
            </div>
            <div class="mb-3">
                <label for="ImageUrl" class="form-label">Select Image</label>
                <input type="file" name="FormFile" id="ImageUrl" class="form-control"/>
            </div>

            <button type="submit" class="btn btn-outline-success">Update</button>
            <a class="btn btn-outline-danger" asp-action="Index" asp-controller="Product" asp-area="admin"><i class="fa fa-list"></i> List</a>
        </form>
    </div>
    <div class="col-4"></div>
</div>